---
import Link from '@/components/Link.astro'
---

<header class="h-[40rem] flex flex-col items-center justify-center gap-2">
  <h2 class="uppercase font-medium text-8xl p-4">miduhub</h2>
  <div class="flex flex-col items-center p-4 font-light text-4xl">
    <span class="uppercase">Pagina de centralizacion de</span>
    <span class="uppercase">
      proyectos de
      <Link
        href="https://youtube.com/@midudev"
      >
				<!-- Change href if exist a URL that contains multiple links to social networks of midudev -->
        midudev
			</Link>
    </span>
  </div>
</header>
